	{%load i18n utils%}
	{%with medium=tug.media.all initiator=tug.initiator timestamp=tug.timestamp description=tug.description coordinate=tug.coordinate title=tug.title.title tid=tug.id%}
	<article tid={{tid}}>
	<output>
	<div onclick='tugDelete(this, event)' tid={{tid}}>{%trans 'delete'%}</div>
	<div><a href="{%url 'profile' initiator.id%}"><img alt={{initiator}} style='width:40px;height:40px' src={%url 'avatar-member' initiator.id%}></a></div>
	{#<div><a href={%url 'tug-edit' tid%}>{%trans 'edit'%}</a></div>#}
	<div onclick='tugCtxEdit(this, event)' tid={{tid}}>ctxEdit</div>
	</output>
	<summary>
	<div><a href={%url 'tug-detail' tid%}>{{title}}</a><time>{{timestamp|timesince}} {%trans 'ago'%}</div>
	<div>{{description}}</div>
	<hgroup><div>{%trans 'max'%} {{tug.max}}</div><div>{{coordinate}}</div><div><time datetime={{tug.datetime}}>{{tug.datetime}}</time></div></hgroup>
	{%if medium%}<div>
	{%for media in medium%}
		{%if media|isImage%}<img class=small src={%url 'avatar-raw' media.id%} onclick='showModal(this)'>
		{%else%}<a href={%url 'avatar-raw' media.id%}>{{media.filename}}</a>
		{%endif%}
	{%endfor%}
	</div>{%endif%}
	{#<div tid={{tug.id}} onclick='tugJoin(this, event)'>{%trans 'tug join'%}</div>#}
	</summary>
	</article>
	{%endwith%}
